<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= title %></h1>
    </div>
    <div class="box">
      <% listOfItems.forEach(item=>{ %>
        <form action="/delete" method="POST">

          <div class="item"> 
            <input type="checkbox" name="checkbox" value=<%= item._id %> onchange="this.form.submit()">
            <p> <%=item.name%> </p>
          </div>
          <input type="hidden" name="listName" value="<%= title %>">
        </form>
      <%}) %>
      <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="Add Item" autocomplete="off">
      <button type="submit" name="list" value= <%= title %> >+</button>
      </form>
    </div>

<%- include("footer") -%>

